#zaposleni {
  width: 320px;
  margin-right: auto;
  margin-left: auto;
  border-collapse: collapse;
  width: 100%;
}

  #zaposleni td, #zaposleni th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #zaposleni tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  #zaposleni tr:hover {
    background-color: #ddd;
  }

  #zaposleni th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #008080;
    color: white;
  }
