<ngx-charts-box-chart
        *ngIf="chartS.box"
        [results]="chartS.data"
        [schemeType]="schemeType"
        [strokeColor]="strokeColor"
        [strokeWidth]="strokeWidth"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [legendTitle]="legendTitle"
        [tooltipDisabled]="tooltipDisabled"
        [showGridLines]="showGridLines"
        [roundDomains]="roundDomains"
        [roundEdges]="roundEdges"
        [view]="view"
        [gradient]="gradient"
        [animations]="animations"
  (select)="onSelect($event)">
</ngx-charts-box-chart>
<ngx-charts-bar-vertical
        *ngIf="chartS.bar"
        [view]="view"
        [schemeType]="schemeType"
        [results]="chartS.data"
        [animations]="animations"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [legendTitle]="legendTitle"
        [legendPosition]="legendPosition" 
        [tooltipDisabled]="tooltipDisabled"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [showGridLines]="showGridLines"
        [roundDomains]="roundDomains"
        [roundEdges]="roundEdges"
        [yScaleMax]="yScaleMax"
        [showDataLabel]="showDataLabel">
</ngx-charts-bar-vertical>
